em {
    font-weight: 600;
    font-style: normal;
}

h3 {
    text-align: center;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div > span {
    margin: 4px;
    margin-right: 0px;
    margin-left: 0px;
}

span {
    color: rgb(130 84 0);

    display: inline-block;

    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: dodgerblue;

    padding-left: 3px;
    padding-right: 3px;

    background-clip: padding-box;

    background-color: rgba(255, 165, 0, 0.3);
    border-color: rgba(255, 165, 0, 1);

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 48%;
}

ol {
  clear: both;
  list-style: none;
  padding-left: 2%;
}
ol li {
  margin: 2em 0;
  padding-top: 1em;
  display: block;
  position: relative;
  counter-increment: inst;
}
ol li::before {
  content: counter(inst);

  background: rgba(255, 150, 0, 0.35);
  color: #fff;

  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px rgba(255, 150, 0, 0.5);

  border-radius: 0 0.675em 0.675em 0;
  font-size: 1.5em;
  text-align: center;

  padding-top: 0;
  padding-left: 2.25%;
  left: -5%;
  top: -0.65em;
  height: 1.35em;
  width: 1.35em;
  position: absolute;

  transition: all 0.2s ease-in-out;

  z-index: -1;
}

img {
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  div {
    justify-content: center;
  }
  div > span {
    flex-basis: 80%;
  }
}

@media only screen and (max-width: 768px) {
  div > span {
    margin-right: 0px;
    margin-left: 0px;
  }
}
