html {

}

body {
    text-align: center;
    max-width: 28em;
}

h1 {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1, h2 {
    text-align: center;
}

.title {
    text-align: center;
}

ol {
    list-style: none;
}

.container {
    padding: 1em;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    border-style: solid;
    border-color: LightGray;
    border-radius: 5px;
    border-width: 1px;
}

.cook .container {
    counter-increment: inst;
}

.cook .container::before {
    content: counter(inst);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 8px;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 1.5em Arial, sans-serif;
    position: absolute;
    top: -25px;
    left: -25px;
}

ol {
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.container li {
    list-style: none;
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    text-align: left;
    font-size: 1.8rem;
}

.container li div {
    height: 38px;
    line-height: 38px;
}

.container li, ol {
    border-color: inherit;
}

.container li > div:nth-child(1) {
    flex: 1 1 calc(70% - 1.3em);
    padding-left: 1em;;
}

.container li > div:nth-child(2) {
    flex: 0 1 calc(30% - 0.3em);
    font-size: 1.2rem;
    border-left: 1px solid;
    border-color: inherit;
    text-align: center;
}

.container li > div:nth-child(3) {
    flex: 1 1;
    height: 24px;
    line-height: 24px;
    font-size: 1.2rem;
    font-style: italic;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.container p {
    /* border-color: inherit; */
    /* border-style: dotted; */
    border-width: 1px;
    border-radius: 3px;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.container p {
    font-size: .9em;
    margin: 0;
    padding: 0;
}

.container ol + p {
    margin-top: 1em;
}

.ingredients::before {
    content: "Ingredients";
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
}

.cook::before {
    content: "Steps";
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
}

.ingredients > .container {
    border-color: rgba(255, 165, 0, 1);
}

.ingredients .container li > div {
    background-color: rgba(255, 165, 0, 0.3);
}

.ingredients .container li > div:nth-child(3){
    background-color: rgba(255, 165, 0, 1);
    color: white;
}

.cook .container {
    border-color: DodgerBlue;
}

.cook .container li > div {
    background-color: rgba(30, 144, 255, 0.1);
}

.cook .container li > div:nth-child(3){
    background-color: DodgerBlue;
    color: white;
}
